.cursor-pointer{cursor: pointer;}
.cursor-default{cursor: default;}
.height-400px {height: 400px;}
.user-name{
    color: black;
    text-shadow: 2px 2px 0.5rem white;
}
.user-name:hover{
    border-bottom: 1px blue;
    text-shadow: 2px 2px 2rem blue;
}

.chat-message{
    position: fixed;
    right: 1px;
    bottom: 10px;
}
a:hover{
    text-decoration: none;
}
.bg-main {background-color: rgb(17, 122, 101);}
.bg-main-2 {background-color: rgba(17, 122, 101, 0.5);}
.text-main {color: rgba(100, 228, 100, 0.8);}
.borderless {border: 0px;}

.textarea-box {
    padding: 0.8rem;
    resize: none;
}
.content-box{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: inherit;
}
.content-box-wrap{
    text-overflow: ellipsis;
    overflow: hidden;
    height: inherit;
}
.pre-box {
    font-size: 1rem;
    line-height: 1rem;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-all;
 }

.profile-picture {
    width: 70px;
    height: 70px;
}

.friend-list {
    width: 50%;
    margin: auto;
}
.post-list {
    width: 70%;
    margin: auto;
}
#btn-search{
    background: none;
    display: none;
}
#search-bar{
    display: inline;
}

@media only screen and (max-width: 1000px) {
    .friend-list, .post-list {
        width: 100%;
    }
    #search-bar{
        display: none;
    }
    #btn-search {
        display: inline-block;
    }
    .btn-friend {
        margin-top: 0.5rem;
        width: 100% !important;
    }
}