{% extends 'layout.html' %}

{% block title %}<title>{{ user.name }}님 반갑습니다.</title>{% endblock %}

{% block content %}
<form action="{% url 'app_post:new' %}" method="post">
    {% csrf_token %}
    <div class="post-list">
        <div class="card-header p-2 bg-main-2 rounded">{{ user.name }} 님. 글을 작성해보세요~</div>
        <div class="input-group">
            <textarea class="form-control textarea-box" name="content"></textarea>
            <div class="input-group-append">
                <button type="submit" class="input-group-text cursor-pointer">작성</button>
            </div>
        </div>
        <div class="collapse" id="option">
            <div class="input-group">
                <div class="input-group-append">
                    <label class="input-group-text">태그</label>
                </div>
                <input type="text" class="form-control" name="tag" placeholder="태그 입력">
            </div>
            <div class="input-group">
                <div class="input-group-append">
                    <label class="input-group-text" for="post-image">사진</label>
                    <input type="file" hidden id="post-image" name="image" accept="image/*" multiple>
                </div>
                <div class="form-control" id="post-image-text">이미지를 추가해주세요</div>
            </div>
        </div>
        <button type="button" class="btn w-100 text-center" id="btn-option" data-toggle="collapse" data-target="#option" >옵션 <i class="fas fa-chevron-down"></i></button>
    </div>
</form>
<div class="post-list"><hr></div>

{% for post in post_list %}
<div class="card mb-5 post-list">
    <div class="card-header p-1 bg-main-2 rounded"><a href="{% url 'app_user:profile' post.author.username %}" class="text-dark user-name">{{ post.author.name }} </a>님의 게시글입니다.</div>
    <a href="{% url 'app_post:detail' post.id %}" class="card-body cursor-pointer content-box text-dark">{{ post.content }}</a>
    <div class="card-footer p-1" id="{{ post.id }}">
        <span class="mx-1 cursor-pointer heart">
            {% if user in post.heart_list %}
            <i class="fas fa-heart text-danger"></i>
            {% else %}
            <i class="far fa-heart"></i>
            {% endif %}
            <sup> {{ post.heart.all|length }}</sup>
        </span>
        <span class="mx-1"><i class="far fa-comment"></i>
            <sup> {{ post.comment.all|length }}</sup></span>
        <span class="float-right">{{ post.created|date:'Y-m-d H:i' }}</span>
    </div>
</div>
{% endfor %}


{% load static %}
<script src="{% static 'js/post.js' %}"></script>
{% endblock %}