{% extends 'layout.html' %}
{% load staticfiles %}
{% block title %}<title>{{ user.profile.get_name }}'s 프로필</title>{% endblock %}

{% block content %}
<div class="border rounded p-3 mx-auto friend-list mb-5">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <span>프로필 사진</span>
            <div id="previewer" class="text-center my-2" hidden><img src="" width="100px" height="100px"></div>
            <label for="profile-picture" class="btn border d-block bg-main-2 text-white">변경</label>
            <input type="file" name="profile-picture" id="profile-picture" accept="image/*" hidden>
            {% if user.profile.picture %}
            <a href="{{ user.profile.picture.url }}" target="_blank">{{ user.profile.filename }}</a>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="lastName">이름</label>
            <div class="d-flex">
                <input id="lastName" type="text" class="form-control" name="lname" placeholder="ex) 홍" value="{{ user.last_name }}">
                <input id="firstName" type="text" class="form-control" name="fname" placeholder="ex) 길동" value="{{ user.first_name }}">
            </div>
        </div>

        <div class="form-group">
            <label for="address">거주지</label>
            <input id="address" type="text" class="form-control" name="address" placeholder="ex) 경기 용인, 경기도 용인시 처인구 등" value="{{ user.profile.address }}">
        </div>

        <div class="form-group">
            <label for="birth">생년월일</label>
            <input id="birth" type="date" class="form-control" name="birth" value="{{ user.profile.birth }}">
        </div>

        <div class="form-group">
            <label>성별</label>
            <div class="d-flex">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            {% if user.profile.sex == '남' %}
                            <input id="male" type="radio" name="sex" value="남" checked>
                            {% else %}
                            <input id="male" type="radio" name="sex" value="남">
                            {% endif %}
                        </div>
                    </div>
                    <label for="male" class="form-control bg-white text-center">남</label>
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            {% if user.profile.sex == '여' %}
                            <input id="female" type="radio" name="sex" value="여" checked>
                            {% else %}
                            <input id="female" type="radio" name="sex" value="여">
                            {% endif %}
                        </div>
                    </div>
                    <label for="female" class="form-control bg-white text-center">여</label>
                </div>
            </div>
        </div>
        <hr>
        <div class="form-group">
            <label for="password">* 비밀번호를 입력하십시오.</label>
            <small></small>
            <div class="input-group">
                <input id="password" type="password" class="form-control" name="password" placeholder="8자 이상 입력바랍니다.">
                <div class="input-group-append">
                    <span class="input-group-text" id="check-password"><i class="fa"></i></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="password2">비밀번호를 다시 한 번 입력하십시오</label>
            <div class="input-group">
                <input id="password2" type="password" class="form-control" name="password" placeholder="8자 이상 입력바랍니다.">
                <div class="input-group-append">
                    <span class="input-group-text" id="check-password2"><i class="fa"></i></span>
                </div>
            </div>
        </div>

        <input type="submit" class=" form-group form-control" value="저장">
        <a href="{% url 'app_user:profile' user.username %}" class="form-control text-center">취소</a>
    </form>
</div>

<script src="{% static 'js/user_edit.js' %}"></script>
<script src="{% static 'js/password.js' %}"></script>

{% endblock %}