{% extends 'layout.html' %}

{% load static %}
{% block title %}<title>{{ person.name }}의 프로필</title>{% endblock %}

{% block content %}
<div class="border rounded p-3 mx-auto friend-list">
    <div class="d-flex rounded p-2 border-bottom flex-wrap">
        <div>
            <img src="{% if person.avatar %}
            {{ person.avatar.url }}
            {% else %}
            {% static 'assets/noimages.png' %}
            {% endif %}"
                 class="profile-picture rounded" />
        </div>
        <div><div class="my-auto w-100 pl-3">
            <span>{{ person.name }}</span>
            <p id="status" class="small" style="color: green; padding-top: 0.25rem;">{{ person.status }}</p>
            <div id="chg-input" style="display: none;">
                <input type="text" class="form-control" name="status" value="{{ person.status }}" placeholder="상태 메시지를 입력하세요.">
            </div>
        </div></div>
        {% if user == person %}
        <div class="my-auto ml-auto">
            <a href="{% url 'app_user:edit' %}" class="block btn border bg-main text-white">수정</a>
            <button id="chg-status" class="block btn border bg-main text-white">상태 메시지</button>
        </div>
        {% else %}
        <div class="my-auto ml-auto">
            {% if person not in user.friend.all %}
            <button class="btn ml-auto btn-add" value="{{ person.username }}">친구 신청</button>
            {% else %}
            <button class="btn ml-auto btn-release" value="{{ person.username }}">친구 해제</button>
            {% endif %}
            <a class="btn my-auto ml-auto btn-chatting-start border bg-main-2 text-light">1:1 대화<span id="{{ person.username }}" hidden></span></a>
        </div>
        {% endif %}
    </div>
</div>

<div class="mt-3 border rounded p-3 friend-list">
    <span>친구 목록 ({{ person.friend.all |length }})</span>
    <hr class="mt-0">
    <p class="text-center"><a href="{% url 'app_friend:index' %}">다음</a>을 눌러 친구를 찾아보세요</p>
    {% for friend in person.friend.all %}
    <div class="border-bottom">
        <div class="d-flex rounded p-2 flex-wrap">
            <div class="my-auto">
                <img src="{% if friend.avatar %}
                    {{ friend.avatar.url }}
                {% else %}
                    {% static 'assets/noimages.png' %}
                {% endif %}"
                     class="profile-picture rounded">
            </div>
            <div class="flex-fill my-auto pl-3 ">
                <a href="{% url 'app_user:profile' friend.username %}" class="user-name">{{ friend.name }}</a>
                <p class="small" style="color: green; padding-top: 0.25rem;">{{ friend.status }}</p>
            </div>
            <div class="btn-friend my-auto ml-auto">
                {% if friend != user %}
                    {% if not friend in user.friend.all %}
                    <button class="btn ml-auto btn-add btn-friend" value="{{ friend.username }}">친구 신청</button>
                    {% elif  friend in user.friend.all %}
                    <button class="btn ml-auto btn-release btn-friend" value="{{ friend.username }}">친구 해제</button>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<script src="{% static 'js/user_edit.js' %}"></script>
<script src="{% static 'js/friend.js' %}"></script>
<script src="{% static 'js/chat.js' %}"></script>


{% endblock %}