{% extends 'layout.html' %}

{% block title %}<title>Welcome to Our Story</title>{% endblock %}

{% block signup %}
<div class="ml-auto col-lg-5 border p-3">
    <form action="{% url 'app_user:register' %}" id="register" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="lastName">이름</label>
            <div class="d-flex">
                <input id="lastName" type="text" class="form-control" name="lname" placeholder="ex) 홍">
                <input id="firstName" type="text" class="form-control" name="fname" placeholder="ex) 길동">
            </div>
        </div>

        <div class="form-group">
            <label for="username">아이디</label>
            <div class="input-group">
                <input id="username" type="text" class="form-control" name="username" placeholder="아이디">
                <div class="input-group-append">
                    <button type="button" class="btn" id="check-username"><i class="fa fa-user"></i></button>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="password">비밀번호를 입력하십시오</label>
            <div class="input-group">
                <input id="password" type="password" class="form-control" name="password" placeholder="8자 이상 입력바랍니다.">
                <div class="input-group-append">
                    <span class="input-group-text" id="check-password"><i class="fa"></i></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="password2">비밀번호를 다시 한 번 입력하십시오</label>
            <div class="input-group">
                <input id="password2" type="password" class="form-control" name="password" placeholder="8자 이상 입력바랍니다.">
                <div class="input-group-append">
                    <span class="input-group-text" id="check-password2"><i class="fa"></i></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="address">거주지</label>
            <input id="address" type="text" class="form-control" name="address" placeholder="ex) 경기 용인, 경기도 용인시 처인구 등">
        </div>

        <div class="form-group">
            <label for="birth">생년월일</label>
            <input id="birth" type="date" class="form-control" name="birth">
        </div>

        <div class="form-group">
            <label>성별</label>
            <div class="d-flex">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <input id="male" type="radio" name="sex" value="남">
                        </div>
                    </div>
                    <label for="male" class="form-control bg-white text-center">남</label>
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <input id="female" type="radio" name="sex" value="여">
                        </div>
                    </div>
                    <label for="female" class="form-control bg-white text-center">여</label>
                </div>
            </div>
        </div>
        <input type="submit" class="form-control pointer-cursor" value="가입">
    </form>
</div>

{% load staticfiles %}
<script src="{% static 'js/user.js' %}"></script>
<script src="{% static 'js/password.js' %}"></script>
{% endblock %}