{% extends 'layout.html' %}

{% block title %}<title>Welcome to Our Story</title>{% endblock %}

{% block signup %}
<div class="ml-auto col-lg-5 border p-3">
    <form action="{% url 'app_user:register' %}" id="register" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">이름</label>
            <input id="name" type="text" class="form-control" name="name" placeholder="이름">
        </div>

        <div class="form-group">
            <label for="username">계정</label>
            <div class="input-group">
                <input id="username" type="text" class="form-control" name="username" placeholder="계정">
                <div class="input-group-append">
                    <button type="button" class="btn" id="check-username"><i class="fa fa-user"></i></button>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="password">비밀번호</label>
            <div class="input-group">
                <input id="password" type="password" class="form-control" name="password" placeholder="8자 이상 입력바랍니다.">
                <div class="input-group-append">
                    <span class="input-group-text" id="check-password"><i class="fa"></i></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="password2">비밀번호 확인</label>
            <div class="input-group">
                <input id="password2" type="password" class="form-control" name="password" placeholder="8자 이상 입력바랍니다.">
                <div class="input-group-append">
                    <span class="input-group-text" id="check-password2"><i class="fa"></i></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="username">이메일</label>
            <div class="input-group">
                <input type="email" id="email" class="form-control" name="email" placeholder="이메일">
            </div>
        </div>

        <div class="form-group">
            <label for="username">연락처</label>
            <div class="input-group">
                <input type="text" id="tel" class="form-control" name="tel" placeholder="연락처">
            </div>
        </div>

        <input type="button" class="form-control cursor-pointer" value="가입">
    </form>
</div>

{% load static %}
<script src="{% static 'js/user.js' %}"></script>
<script src="{% static 'js/password.js' %}"></script>
{% endblock %}