{% extends 'layout.html' %}
{% load staticfiles %}
{% block title %}<title>사람 찾기</title>{% endblock %}

{% block content %}
<div class="border rounded p-3 friend-list">
    <span>추천</span>
    <hr class="mt-0">
    {% for x in recommended_friend_list %}
    <div class="border-bottom">
        <div class="d-flex rounded p-2">
            <img src="{% if user_.profile.picture %}{{ user_.profile.picture.url }}{% else %}{% static 'assets/no_pic.png' %}{% endif %}" class="profile-picture rounded">
            <div class="my-auto w-100 pl-3"><a href="{% url 'app_user:profile' x.user.username%}" class="user-name">{{ x.get_name }} ({{x.sex}})<br>{{ x.birth }}</a></div>
            {% if not x in user.profile.friend.all %}
            <button class="btn my-auto ml-auto btn-add" value="{{ x.user.username }}">친구 신청</button>
            {% else %}
            <button class="btn my-auto ml-auto btn-release" value="{{ x.user.username }}">친구 해제</button>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

<script src="{% static 'js/friend.js' %}"></script>
{% endblock %}